How to set XMPP resource

When connecting to an XMPP host, how do you set the Resource? I see how to retrieve the Resource:

```
var currentResource = xmppClient.Resource;
```

But this is read only. 

I've tried appending it to the user name "user/Resource" and host "domain.com/Resource" but neither worked.

Hello

Resource parts are randomized, for security, and is set by the library during the connection/binding phase. This minimizes the risk och malicious entities guessing the resource part (see §7.5 in RFC 6120). It also forces a consent-based authorization model by design, by requiring entities to successfully perform a presence subscription in order to get the resource part of its contacts (and so be able to perform Information Query (iq) requests to them). The library maintains the random resource part, so if it has to reconnect, it binds to the existing resource, for instance if temporarily losing the connection. It also makes sure random resource parts are always used, by making the resource part read-only.

Best regards,
Peter